/*
 *= require font-awesome
 *= require_self
 */

@import "./reset";
@import "config/colors";
@import "mixin/basic";
@import "modules/groups_index";

* {
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
